<h1 class="mt-3">Welcome to Nodap Life Studios</h1>

<p>Introduction</p>

<nav class="row">
  <div class="col-12 col-lg">
    <a href="/about" class="card card-shadow card-hover">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">Learn more about us</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg">
    <a href="/projects" class="card card-shadow card-hover">
      <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <p class="card-text">View our projects</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg">
    <a href="/services" class="card card-shadow card-hover">
      <div class="card-body">
        <h5 class="card-title">Services</h5>
        <p class="card-text">See what we can offer</p>
      </div>
    </a>
  </div>
</nav>
