<h1 class="mt-3">Our Projects</h1>

<p>Blah blah blah</p>

<h2>Game Development</h2>

<ul>
  <% for (const game of projects.games) { %>
  <%- include("../components/projects/item", game); %>
  <% } %>
</ul>
